Repository our-flavorite/flavorite, changes with the labels that .github/labeler.yml gives for each.
All labels: FE🌕, BE🌑, DEPLOY🚀, ETC👨‍👩‍👦

Fix deploy
  .github/workflows/backend-docker-deploy.yml
  .github/workflows/frontend-docker-deploy.yml
Labels: ETC👨‍👩‍👦

network test
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/api/AuthenticateController.kt
Labels: BE🌑

network test
  backend/presentation/security/src/main/kotlin/com/flavorite/security/config/SecurityConfig.kt
Labels: BE🌑

Add header
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕

Feature/backend docker network (#34)
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/api/AuthenticateController.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/config/SecurityConfig.kt
Labels: BE🌑

[프론트] axios 예시 (#35)
  .github/workflows/backend-docker-deploy.yml
  .github/workflows/frontend-docker-deploy.yml
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕, ETC👨‍👩‍👦

Create default layout
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/pages/index.tsx
  frontend/tsconfig.json
Labels: FE🌕

Create default layout (#37)
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/pages/index.tsx
  frontend/tsconfig.json
Labels: FE🌕

config: change config jpa naming strategy camel case to snake case
  backend/infrastructure/database/src/main/resources/application-db-dev.yml
  backend/infrastructure/database/src/main/resources/application-db.yml
Labels: BE🌑

Add ClientAPI
  frontend/package.json
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/client/clientAPI.types.ts
  frontend/yarn.lock
Labels: FE🌕

Add APIClass
  frontend/package.json
  frontend/src/api/api.ts
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/client/clientAPI.types.ts
  frontend/src/utils/nullUtils.ts
  frontend/src/utils/objectUtils.ts
  frontend/src/utils/queryUtils.ts
  frontend/yarn.lock
Labels: FE🌕

Add client api
  frontend/app/login/page.tsx
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕

Add serverAPI
  frontend/app/api/ping/route.ts
  frontend/app/login/page.tsx
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/server/serverAPI.ts
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/src/utils/langUtils.ts
  frontend/tsconfig.json
Labels: FE🌕

Add APIClass
  frontend/package.json
  frontend/src/api/api.ts
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/client/clientAPI.types.ts
  frontend/src/utils/nullUtils.ts
  frontend/src/utils/objectUtils.ts
  frontend/src/utils/queryUtils.ts
  frontend/yarn.lock
Labels: FE🌕

Add client api
  frontend/app/login/page.tsx
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕

Add ClientAPI
  frontend/package.json
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/client/clientAPI.types.ts
  frontend/yarn.lock
Labels: FE🌕

[FE] clientAPI 설정 (#39)
  frontend/app/api/ping/route.ts
  frontend/app/login/page.tsx
  frontend/package.json
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/server/serverAPI.ts
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/src/utils/langUtils.ts
  frontend/src/utils/nullUtils.ts
  frontend/src/utils/objectUtils.ts
  frontend/src/utils/queryUtils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: FE🌕

feature: health check test api 추가
  backend/infrastructure/api/src/main/kotlin/com/flavorite/api/health/HealthCheckApi.kt
  backend/infrastructure/api/src/main/kotlin/com/flavorite/api/response/ApiResponse.kt
Labels: BE🌑

fix: @Controller -> @RestController
  backend/infrastructure/api/src/main/kotlin/com/flavorite/api/health/HealthCheckApi.kt
Labels: BE🌑

move: ApiResponse package api/response -> response/
  backend/infrastructure/api/src/main/kotlin/com/flavorite/response/ApiResponse.kt
Labels: BE🌑

fix: add bootJar module
  backend/bootstrap/build.gradle.kts
Labels: BE🌑

fix: add bootJar module
  backend/bootstrap/build.gradle.kts
  backend/bootstrap/src/main/kotlin/com/flavorite/Application.kt
Labels: BE🌑

Apply eslint
  frontend/.eslintrc.json
  frontend/.prettierrc.json
  frontend/next.config.js
  frontend/package.json
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/server/serverAPI.ts
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/src/utils/langUtils.ts
  frontend/src/utils/nullUtils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: FE🌕

Fix error
  frontend/.eslintrc.json
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/server/serverAPI.ts
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕

Fix error
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/server/serverAPI.ts
  frontend/tsconfig.json
Labels: FE🌕

Add undefined
  frontend/app/api/ping/route.ts
Labels: FE🌕

Add server base path
  frontend/app/api/ping/route.ts
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/server/serverAPI.ts
Labels: FE🌕

[FE] eslint, prettier 설정 (#41)
  frontend/.eslintrc.json
  frontend/.prettierrc.json
  frontend/app/api/ping/route.ts
  frontend/next.config.js
  frontend/package.json
  frontend/src/api/api.types.ts
  frontend/src/api/client/clientAPI.ts
  frontend/src/api/server/serverAPI.ts
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/src/utils/langUtils.ts
  frontend/src/utils/nullUtils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: FE🌕

setting: server port 설정 변경
  backend/bootstrap/src/main/resources/application.yml
Labels: BE🌑

chore: health check payload 문자열 추가
  backend/infrastructure/api/src/main/kotlin/com/flavorite/api/health/HealthCheckAPI.kt
Labels: BE🌑

test: 배포
  .github/workflows/backend-docker-deploy.yml
  .github/workflows/backend-verify.yml
  backend/build.gradle.kts
  backend/infrastructure/api/src/main/kotlin/com/flavorite/api/model/ApiResponse.kt
Labels: BE🌑, ETC👨‍👩‍👦

test: 배포
  backend/build.gradle.kts
Labels: BE🌑

chore : 설정 변경
  .github/workflows/backend-dockerhub-push.yml
  backend/Dockerfile
  backend/application/common/build.gradle.kts
  backend/build.gradle.kts
  backend/domain/user/build.gradle.kts
  backend/global/build.gradle.kts
  backend/infrastructure/api/build.gradle.kts
  backend/infrastructure/clients/build.gradle.kts
  backend/infrastructure/database/build.gradle.kts
Labels: BE🌑, ETC👨‍👩‍👦

Merge pull request #43
  .github/workflows/backend-dockerhub-push.yml
  backend/Dockerfile
  backend/application/common/build.gradle.kts
  backend/build.gradle.kts
  backend/domain/user/build.gradle.kts
  backend/global/build.gradle.kts
  backend/infrastructure/api/build.gradle.kts
  backend/infrastructure/clients/build.gradle.kts
  backend/infrastructure/database/build.gradle.kts
Labels: BE🌑, ETC👨‍👩‍👦

Apply health check
  frontend/app/api/health/route.ts
  frontend/app/api/ping/route.ts
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕

Add react query
  frontend/app/layout.tsx
  frontend/package.json
  frontend/src/components/QueryClient/QueryClient.tsx
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/yarn.lock
Labels: FE🌕

Apply staleTime and cacheTime
  frontend/app/layout.tsx
  frontend/src/components/QueryClient/QueryClient.tsx
Labels: FE🌕

[FE] react query 적용 (#44)
  frontend/app/api/health/route.ts
  frontend/app/api/ping/route.ts
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/QueryClient/QueryClient.tsx
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/yarn.lock
Labels: FE🌕

Add layout
  frontend/app/layout.tsx
  frontend/app/login/layout.tsx
  frontend/app/login/page.tsx
  frontend/src/components/Gnb/Gnb.tsx
  frontend/src/svg/logo.svg
Labels: FE🌕

Apply gnb component
  frontend/app/layout.tsx
  frontend/src/components/Gnb/Gnb.tsx
Labels: FE🌕

.github/labeler.yml:

FE🌕:
  - 'frontend/**'
BE🌑:
  - 'backend/**'
DEPLOY🚀:
  - 'deploy/**'
ETC👨‍👩‍👦:
  - '.github/**'
  - '.gitignore'
