Repository our-flavorite/flavorite, changes with the labels that .github/labeler.yml gives for each.
All labels: FE🌕, BE🌑, COMMON👨‍👩‍👦

settings: labeler 변경
  .github/workflows/labeler.yml
Labels: COMMON👨‍👩‍👦

add script
  .github/workflows/frontend-docker-deploy.yml
Labels: COMMON👨‍👩‍👦

Add docker info
  .github/workflows/frontend-docker-deploy.yml
  frontend/Dockerfile
Labels: FE🌕, COMMON👨‍👩‍👦

Feature/se/front docker (#22)
  .github/workflows/frontend-docker-deploy.yml
  frontend/Dockerfile
Labels: FE🌕, COMMON👨‍👩‍👦

settings: change backend deploy workflow file and pr template
  .github/pull_request_template.md
  .github/workflows/backend-docker-deploy.yml
Labels: COMMON👨‍👩‍👦

Change deploy command
  .github/workflows/frontend-docker-deploy.yml
Labels: COMMON👨‍👩‍👦

Add
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕

settings: change backend deploy workflow file
  .github/workflows/backend-docker-deploy.yml
Labels: COMMON👨‍👩‍👦

settings: change frontend deploy workflow file
  .github/workflows/frontend-docker-deploy.yml
Labels: COMMON👨‍👩‍👦

chore: 문구 변경
  backend/core/src/main/kotlin/com/flavorite/core/MemberService.kt
Labels: BE🌑

Fix front
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕

chore: 문구 변경
  backend/core/src/main/kotlin/com/flavorite/core/MemberService.kt
Labels: BE🌑

settings: change backed deploy workflow file
  .github/workflows/backend-docker-deploy.yml
Labels: COMMON👨‍👩‍👦

Add sudo
  .github/workflows/frontend-docker-deploy.yml
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕, COMMON👨‍👩‍👦

chore: 문구 변경
  backend/core/src/main/kotlin/com/flavorite/core/MemberService.kt
Labels: BE🌑

settings: change backed deploy workflow file
  .github/workflows/frontend-docker-deploy.yml
Labels: COMMON👨‍👩‍👦

Add code
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕

settings: change backed deploy workflow file
  .github/workflows/backend-docker-deploy.yml
Labels: COMMON👨‍👩‍👦

chore: 문구 변경
  backend/core/src/main/kotlin/com/flavorite/core/MemberService.kt
Labels: BE🌑

.github/labeler.yml:

FE🌕:
  - 'frontend/**'
BE🌑:
  - 'backend/**'
COMMON👨‍👩‍👦:
  - '.github/**'
  - '.gitignore'
