Repository our-flavorite/flavorite, changes with the labels that .github/labeler.yml gives for each.
All labels: FE🌕, BE🌑, DEPLOY🚀, ETC👨‍👩‍👦

.github/labeler.yml:

FE🌕:
  - 'frontend/**'
BE🌑:
  - 'backend/**'
DEPLOY🚀:
  - 'deploy/**'
ETC👨‍👩‍👦:
  - '.github/**'
  - '.gitignore'

feature: 레이어별 모듈 분리
  backend/application/common/src/main/kotlin/com/flavorite/application/common/UserService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/UserSimplePort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/DeleteUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/SaveUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/UpdateUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/query/SelectUserQuery.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/value/SelectUsersQuery.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/value/UserDto.kt
  backend/bootstrap/build.gradle.kts
  backend/bootstrap/src/main/resources/application-dev.yml
  backend/bootstrap/src/main/resources/application.yml
  backend/core/build.gradle.kts
  backend/core/src/main/kotlin/com/flavorite/core/MemberService.kt
  backend/core/src/main/kotlin/com/flavorite/core/User.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/Email.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/UserName.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/UserEntity.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/UserRepository.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/UserSimpleAdapter.kt
  backend/infrastructure/database/src/main/resources/application-db-dev.yml
  backend/infrastructure/database/src/main/resources/application-db.yml
  backend/presentation/build.gradle.kts
  backend/presentation/src/main/kotlin/com/flavorite/presentation/api/MemberController.kt
  backend/settings.gradle.kts
Labels: BE🌑

fix: 빌드 설정 변경
  backend/application/build.gradle.kts
  backend/application/common/build.gradle.kts
  backend/bootstrap/build.gradle.kts
  backend/build.gradle.kts
  backend/infrastructure/build.gradle.kts
  backend/infrastructure/clients/build.gradle.kts
  backend/infrastructure/database/build.gradle.kts
  backend/settings.gradle.kts
Labels: BE🌑

chore: github workflow 변경
  .github/workflows/backend-docker-deploy.yml
  .github/workflows/labeler.yml
Labels: ETC👨‍👩‍👦

chore: github workflow 변경
  .github/workflows/labeler.yml
Labels: ETC👨‍👩‍👦

fix: 빌드 설정 변경
  backend/settings.gradle.kts
Labels: BE🌑

chore: github workflow 변경
  .github/workflows/labeler.yml
Labels: ETC👨‍👩‍👦

fix: 빌드 설정 변경
  backend/build.gradle.kts
Labels: BE🌑

chore: github workflow 변경
  .github/workflows/labeler.yml
Labels: ETC👨‍👩‍👦

chore: github workflow 변경
  .github/workflows/labeler.yml
Labels: ETC👨‍👩‍👦

chore: github workflow 변경
  .github/workflows/labeler.yml
Labels: ETC👨‍👩‍👦

chore: github workflow 변경
  .github/workflows/labeler.yml
Labels: ETC👨‍👩‍👦

chore: github workflow 변경
  .github/workflows/backend-docker-deploy.yml
  .github/workflows/labeler.yml
Labels: ETC👨‍👩‍👦

feature: 레이어별 모듈 분리 (#23)
  backend/application/build.gradle.kts
  backend/application/common/build.gradle.kts
  backend/application/common/src/main/kotlin/com/flavorite/application/common/UserService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/UserSimplePort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/DeleteUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/SaveUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/UpdateUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/query/SelectUserQuery.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/value/SelectUsersQuery.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/value/UserDto.kt
  backend/bootstrap/build.gradle.kts
  backend/bootstrap/src/main/resources/application-dev.yml
  backend/bootstrap/src/main/resources/application.yml
  backend/build.gradle.kts
  backend/core/src/main/kotlin/com/flavorite/core/MemberService.kt
  backend/core/src/main/kotlin/com/flavorite/core/User.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/Email.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/UserName.kt
  backend/infrastructure/build.gradle.kts
  backend/infrastructure/clients/build.gradle.kts
  backend/infrastructure/database/build.gradle.kts
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/UserEntity.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/UserRepository.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/UserSimpleAdapter.kt
  backend/infrastructure/database/src/main/resources/application-db-dev.yml
  backend/infrastructure/database/src/main/resources/application-db.yml
  backend/presentation/src/main/kotlin/com/flavorite/presentation/api/MemberController.kt
  backend/settings.gradle.kts
Labels: BE🌑

chore: github workflow 추가
  .github/workflows/backend-verify.yml
Labels: ETC👨‍👩‍👦

feature: 회원가입을 위한 Spring security 설정 및 Common 모듈 추가
  backend/application/build.gradle.kts
  backend/application/common/src/main/kotlin/com/flavorite/application/common/SignUpService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/UserService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/SignUpCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/port/UserSimplePort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/usecases/SignUpUseCase.kt
  backend/bootstrap/src/main/kotlin/com/flavorite/Application.kt
  backend/core/src/main/kotlin/com/flavorite/core/User.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/Address.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/Email.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/Password.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/UserName.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/Username.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/UserSimpleAdapter.kt
  backend/infrastructure/database/src/main/resources/application-db.yml
  backend/presentation/build.gradle.kts
  backend/presentation/common-api/build.gradle.kts
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/api/SignUpController.kt
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/request/CommonRequest.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/SecurityConfig.kt
  backend/presentation/src/main/kotlin/com/flavorite/presentation/api/MemberController.kt
  backend/settings.gradle.kts
Labels: BE🌑

fix: 회원가입을 위한 Spring security 설정 및 Common 모듈 추가
  backend/presentation/security/build.gradle.kts
Labels: BE🌑

feature: 회원가입 기능 추가
  backend/application/common/build.gradle.kts
  backend/application/common/src/main/kotlin/com/flavorite/application/common/SignUpService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/DeleteUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/SaveUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/SignUpCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/UpdateUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/query/SelectUserQuery.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/value/MemberDto.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/exception/AlreadyUserException.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/exception/ErrorCode.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/port/SignUpMemberPort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/port/SimpleMemberPort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/port/UserSimplePort.kt
  backend/bootstrap/build.gradle.kts
  backend/bootstrap/src/main/kotlin/com/flavorite/Application.kt
  backend/core/src/main/kotlin/com/flavorite/core/User.kt
  backend/core/src/main/kotlin/com/flavorite/core/enum/UserRole.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/UserEntity.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/UserRepository.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/Adapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/MemberAuthenticateAdapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/MemberSimpleAdapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/UserSimpleAdapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/entity/MemberEntity.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/entity/MemberRoleEntity.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/repository/MemberRepository.kt
  backend/infrastructure/database/src/main/resources/application-db-dev.yml
  backend/infrastructure/database/src/main/resources/application-db.yml
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/api/SignUpController.kt
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/exception/CommonExceptionHandler.kt
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/request/CommonRequest.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/SecurityConfig.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/SecurityPasswordEncoder.kt
Labels: BE🌑

feature: 에러 메시지 코드 관련 변경
  backend/application/common/src/main/kotlin/com/flavorite/application/common/exception/AlreadyUserException.kt
Labels: BE🌑

fix: ROLE 변경
  backend/core/src/main/kotlin/com/flavorite/core/enum/UserRole.kt
Labels: BE🌑

feature: 로그인 기능 개발
  backend/application/common/build.gradle.kts
  backend/application/common/src/main/kotlin/com/flavorite/application/common/AuthenticateService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/SignUpService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/SignInCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/value/SecurityMemberDto.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/exception/ErrorCode.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/exception/NotFoundUserException.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/port/SimpleMemberPort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/usecases/SignInUseCase.kt
  backend/infrastructure/database/build.gradle.kts
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/MemberSimpleAdapter.kt
  backend/presentation/common-api/build.gradle.kts
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/api/AuthenticateController.kt
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/exception/CommonExceptionHandler.kt
  backend/presentation/security/build.gradle.kts
  backend/presentation/security/src/main/kotlin/com/flavorite/security/components/CustomUserDetailsService.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/components/SecurityPasswordEncoder.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/config/SecurityConfig.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/value/SecurityMember.kt
Labels: BE🌑

fix: 모듈 분리 및 객체 격리로 불필요한 security 의존성 제거
  backend/application/common/build.gradle.kts
  backend/infrastructure/database/build.gradle.kts
Labels: BE🌑

Refactor dockerfile
  frontend/Dockerfile
Labels: FE🌕

Add eof
  frontend/Dockerfile
Labels: FE🌕

Remove unsused command
  frontend/Dockerfile
Labels: FE🌕

[프론트] 도커파일 최적화 (#26)
  frontend/Dockerfile
Labels: FE🌕

Refactor
  frontend/Dockerfile
Labels: FE🌕

Refactor (#27)
  frontend/Dockerfile
Labels: FE🌕

refactor
  frontend/Dockerfile
Labels: FE🌕

[FE] 도커파일 개선 (#28)
  frontend/Dockerfile
Labels: FE🌕

Fix
  .github/workflows/frontend-docker-deploy.yml
  frontend/Dockerfile
Labels: FE🌕, ETC👨‍👩‍👦

Fix (#29)
  .github/workflows/frontend-docker-deploy.yml
  frontend/Dockerfile
Labels: FE🌕, ETC👨‍👩‍👦

Fix
  frontend/Dockerfile
Labels: FE🌕

프론트 도커파일 수정 (#30)
  frontend/Dockerfile
Labels: FE🌕

Fix
  .github/workflows/frontend-docker-deploy.yml
Labels: ETC👨‍👩‍👦

Refactor
  frontend/Dockerfile
Labels: FE🌕

[프론트] 개선 최종 (#32)
  frontend/Dockerfile
Labels: FE🌕

Update frontend-docker-deploy.yml
  .github/workflows/frontend-docker-deploy.yml
Labels: ETC👨‍👩‍👦

:art: format: query, command 분리를 위한 패키지 및 코드 구조 변경
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/usecases/SignInUseCase.kt
Labels: BE🌑

Add test axios
  frontend/package.json
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/yarn.lock
Labels: FE🌕

Add test axios (#33)
  frontend/package.json
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/yarn.lock
Labels: FE🌕
