Repository our-flavorite/flavorite, pull requests merged in 2023-09, with the labels that each got.

#26 [프론트] 도커파일 최적화
  frontend/Dockerfile
Labels: FE🌕

#27 [프론트] Dockerfile 추가 수정
  frontend/Dockerfile
Labels: FE🌕

#28 [FE] 도커파일 개선
  frontend/Dockerfile
Labels: FE🌕

#29 [프론트] 도커파일 및 깃 명령어 개선
  .github/workflows/frontend-docker-deploy.yml
  frontend/Dockerfile
Labels: FE🌕, ETC👨‍👩‍👦

#32 [프론트] 개선 최종
  frontend/Dockerfile
Labels: FE🌕

#24 feature: 회원가입 및 로그인 개발
  backend/application/build.gradle.kts
  backend/application/common/src/main/kotlin/com/flavorite/application/common/UserService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/UserSimplePort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/SignUpCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/SignUpService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/domain/User.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/domain/enums/UserRole.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/domain/vo/Address.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/domain/vo/Email.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/domain/vo/Password.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/domain/vo/Username.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/exception/AlreadyUserException.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/exception/ErrorCode.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/exception/NotFoundUserException.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/exception/NotMatchedUserRoleException.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/port/FindUserPort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/port/SignUpMemberPort.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/command/usecases/SignUpUseCase.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/DeleteUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/SaveUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/command/UpdateUserCommand.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/query/SelectUserQuery.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/value/SelectUsersQuery.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/dto/value/UserDto.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/query/UserQueryService.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/query/dto/SecurityMemberDto.kt
  backend/application/common/src/main/kotlin/com/flavorite/application/common/query/port/UserQueryPort.kt
  backend/bootstrap/build.gradle.kts
  backend/bootstrap/src/main/kotlin/com/flavorite/Application.kt
  backend/core/build.gradle.kts
  backend/core/src/main/kotlin/com/flavorite/core/User.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/Email.kt
  backend/core/src/main/kotlin/com/flavorite/core/vo/UserName.kt
  backend/core/src/main/resources/application.properties
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/UserEntity.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/UserRepository.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/Adapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/FindUserAdapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/SignUpMemberAdapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/UserQueryAdapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/adapter/UserSimpleAdapter.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/entity/MemberEntity.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/entity/MemberRoleEntity.kt
  backend/infrastructure/database/src/main/kotlin/com/flavorite/database/jpa/repository/MemberRepository.kt
  backend/infrastructure/database/src/main/resources/application-db-dev.yml
  backend/infrastructure/database/src/main/resources/application-db.yml
  backend/presentation/build.gradle.kts
  backend/presentation/common-api/build.gradle.kts
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/api/AuthenticateController.kt
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/exception/CommonExceptionHandler.kt
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/request/CommonRequest.kt
  backend/presentation/security/build.gradle.kts
  backend/presentation/security/src/main/kotlin/com/flavorite/security/components/CustomUserDetailsService.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/components/SecurityPasswordEncoder.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/config/SecurityConfig.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/domain/SecurityUser.kt
  backend/presentation/src/main/kotlin/com/flavorite/presentation/api/MemberController.kt
  backend/settings.gradle.kts
Labels: BE🌑

#33 테스트 axios 설정
  frontend/package.json
  frontend/src/components/TestComponent/TestComponent.tsx
  frontend/yarn.lock
Labels: FE🌕

#34 Feature/backend docker network
  backend/presentation/common-api/src/main/kotlin/com/flavorite/presentation/common/api/AuthenticateController.kt
  backend/presentation/security/src/main/kotlin/com/flavorite/security/config/SecurityConfig.kt
Labels: BE🌑

#35 [프론트] axios 예시
  .github/workflows/backend-docker-deploy.yml
  .github/workflows/frontend-docker-deploy.yml
  frontend/src/components/TestComponent/TestComponent.tsx
Labels: FE🌕, ETC👨‍👩‍👦
